body{
	font-family: "ÉqÉâÉMÉmäpÉS Pro W3";
	text-align: center;
/*	background-color: #e7b97c;*/
	color: #580600;
}
h1{
	font-family: 'Comic Sans MS';
}
.icon{
	width:  150px;
	height: 150px;
}
.text{
	font-size: 1.2em;
	margin-top: 0px;
	margin-bottom: 25px;
}
.index{
	width:  150px;
	height: 30px;
	background-color: white;
	border: solid 5px #f9b25a;
	border-radius: 8px;
	padding: 5px 10px 5px 10px;
	margin: 5 auto;
}
.home{
	width:  150px;
	height: 80px;
}
@media screen and (max-width: 480px) {
	/* 480pxà»â∫Ç…ìKópÇ≥ÇÍÇÈCSSÅiÉXÉ}ÉzópÅj */
	body{
		font-family: 'Comic Sans MS';
	}
	h1{
		font-size: 30px;
	}
	.index{
		width:  140px;
		height: 25px;
		border-radius: 6px;
		padding: 4px 9px 4px 9px;
		margin: 4 auto;
}
}
