body{
	text-align: center;
	font-family: Verdana, Roboto, "Droid Sans", "游ゴシック", YuGothic, "メイリオ", Meiryo,'Comic Sans MS',"ヒラギノ角ゴ Pro W3";
}
.icon{
	width:  150px;
	height: 150px;
	margin: 10 auto;
}
.home{
	width:  150px;
	height: 80px;
	margin: 15 auto;
}

