body{
	font-family: 'Comic Sans MS',Verdana, Roboto, "Droid Sans", "游ゴシック", YuGothic, "メイリオ", Meiryo,"ヒラギノ角ゴ Pro W3";
	background-image: url("https://github.com/chihiro-1124/portfolio/blob/master/css/imgs_background/background_imgs.png?raw=true");
	text-align: center;
}
#wrap{
	margin: 0 auto;
	margin-top: 2em;
	padding: 10px;
	width:  80%;
	background-color: #fff;
	border-radius: 40px;
}
h1{
	width: 80%;
	margin: 15 auto;
	padding: 10px;
	font-size: 50px;
	color: #003200;
}
footer{
	width:  120px;
	height: 25px;
	margin: 20px auto;
	color: white;
	background-color: #52aa35;
	border-radius: 8px;
	margin-bottom: 20px;
	line-height: 25px;
}
ul{
	width: 100%;
	list-style: none;
	margin: 0;
	padding: 0;
	margin-bottom: 25px;
}
li{
	margin: auto;
	display: inline-block;
}
.icon{
	width:  150px;
	height: 150px;
	margin: 10px;
}

@media screen and (max-width: 959px) {
	/* 959px以下に適用されるCSS（タブレット用） */
	#wrap{
		margin: 0 auto;
		margin-top: 2em;
		padding: 10px;
		width:  80%;
		background-color: #fff;
		border-radius: 40px;
		list-style: none;
	}
	li{
		display: inline-block;
	}
	.icon{
		width:  200px;
		height: 200px;
		margin: 15px;
	}
}
@media screen and (max-width: 480px) {
	/* 480px以下に適用されるCSS（スマホ用） */
	h1{
		font-size: 40px;
		margin: 22 auto;
	}
	li{
		display: inline-block;
	}
	.icon{
		width:  40%;
		/*height: 40%;*/
		margin: 8px;
	}
}

