body{
	width: 90%;
	text-align: center;
	margin-left: 5%;
	font-family: Verdana, Roboto, "Droid Sans", "游ゴシック", YuGothic, "メイリオ", Meiryo,'Comic Sans MS',"ヒラギノ角ゴ Pro W3";
}
.icons{
	position:relative
	margin-left:  auto;
	margin-right: auto;
}
.icon{
	position:absolute
	width:  150px;
	height: 150px;
	margin: 8px;
}
.home{
	width:  150px;
	height: 80px;
	margin: 15px;
}
ul{
	width: 100%;
	list-style: none;
	margin: 0;
	padding: 0;
	margin-bottom: 25px;
}
li{
	margin: auto;
	display: inline-block;
}
